.container {
    position: relative;
    z-index: 141414;
    
    &.open {
        .active-item::after {
            transform: rotate(180deg);
            top: calc(50% - 6px);
        }
    }
}
.active-item {
    border: 2px solid var(--background-secondary);
    border-radius: var(--border-radius-primary);
    transition: background-color .2s;
    color: var(--text-secondary);
    padding: 5px 25px 5px 10px;
    font-weight: 600;

    &:hover {
        background-color: var(--background-secondary);
    }

    &::after {
        content: '';
        right: 10px;
        top: calc(50% + 3px);
        transform: translateY(-50%);
        border: 4px solid transparent;
        border-top-color: var(--text-secondary);
        position: absolute;
    }
}
.item-container {
    position: absolute;
    border-radius: var(--border-radius-secondary);
    background-color: var(--background-secondary);
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
    white-space: nowrap;
    bottom: calc(100% + 6px);
    padding: 4px 0;

    button {
        padding: 8px 25px 8px 10px;
        width: 100%;

        &:hover {
            background-color: var(--background-tertiary);
        }
    }
}