.container {
    display: flex;
}
.sidebar {
    min-width: 220px;
    height: calc(100vh - var(--navbar-height) - var(--spacing-primary));
    border-right: 1px solid var(--background-tertiary);
    padding-right: var(--spacing-primary);

    h2 {
        margin: 0;
        font-size: 20px;
    }
}
.tabs {
    margin-top: var(--spacing-primary);
    display: grid;
    gap: 4px;
}
.tab {
    border-radius: 6px;
    padding: 8px 12px;
    display: block;

    &:hover {
        background-color: var(--background-secondary);
    }
    &:active, &.active {
        background-color: var(--background-tertiary);
    }
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        height: unset;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--background-tertiary);
        padding-bottom: var(--spacing-primary);
        margin-bottom: var(--spacing-primary);
    }
}