.container {
    display: flex;
    height: calc(100vh - var(--navbar-height) - var(--spacing-primary));
}
.sidebar {
    padding-right: var(--spacing-primary);
    border-right: 2px solid var(--background-tertiary);
    min-width: 280px;
    width: 280px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar-header {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-primary);
    z-index: 14;
    position: sticky;
    top: 0;

    svg {
        display: block;
        fill: var(--text-secondary);
        border-radius: 4px;
        width: 22px;
        height: 22px;
        padding: 5px;
        cursor: pointer;
        
        &:hover {
            background-color: var(--background-tertiary);
        }
    }

    span  {
        font-weight: 600;
        font-size: 14px;
        color: var(--text-secondary);
    }
}
.sidebar-empty {
    font-size: 14px;
    margin-top: 10px;
    
    .empty-button {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }
}
.tabs {
    overflow: auto;
    max-height: 100%;
    padding-bottom: var(--spacing-primary);
}
.tab {
    --avatar-width: 32px;
    padding: 8px 10px;
    border-radius: var(--border-radius-primary);
    text-align: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .15s background-color;
    
    &:hover, &.active {
        background-color: var(--background-tertiary);

        .typing-indicator {
            --background-color: var(--background-primary);
        }
    }
    &:active {
        background-color: var(--background-quaternary);
    }
    &.loading {
        background-color: var(--background-secondary);
    }
}
.tab-main {
    display: flex;
    align-items: center;
    gap: var(--spacing-primary);

    // 20px to leave space for notification
    max-width: calc(100% - 20px);

    .text {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow: hidden;
    }
    .tab-text-main {
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 14px;
        color: var(--text-secondary);
    }
    .display-name {
        font-weight: 600;
        font-size: 16px;
        color: var(--text-primary);
    }
}
.tab-avatar {
    overflow: hidden;
    border-radius: 50%;
    width: var(--avatar-width);
    min-width: var(--avatar-width);
    height: var(--avatar-width);
    position: relative;
    background-color: var(--background-tertiary);
}
.tab-text-bottom {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.last-message {
    font-size: 14px;
    margin-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.unread-count {
    --dimensions: 22px;
    background-color: var(--color-primary);
    width: var(--dimensions);
    height: var(--dimensions);
    line-height: var(--dimensions);
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light-primary);
    border-radius: 50%;
    font-weight: 700;
}
.loading-text {
    height: 17px;
    width: 100px;
    background-color: var(--background-tertiary);
    border-radius: 5px;
}

// Typing indicator
.typing-indicator {
    --background-color: var(--background-tertiary);
    background-color: var(--background-color);
    height: 16px;
    width: 40px;
    border-radius: 13px;
    display: flex;
    flex-flow: row nowrap;
    animation: 2s bulge infinite ease-out;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    transition: background-color .15s;
    
    span {
        height: 6px;
        width: 6px;
        margin: 0 1px;
        background-color: #9E9EA1;
        display: block;
        border-radius: 50%;
        opacity: 0.4;

        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
                animation: 1s blink infinite ($i * .3333s);
            }
        }
    }
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}

@media (max-width: 750px) {
    .sidebar {
        width: 100%;
        border-right: 0;
        padding-right: 0;
    }
}
@media (max-width: 700px) {
    .container {
        height: calc(100vh - var(--navbar-height) - var(--sidebar-mobile-height) - var(--spacing-primary));
    }
}