.container {
    display: flex;
    height: calc(100vh - var(--navbar-height) - var(--spacing-primary));
}
.sidebar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: var(--spacing-primary);
    border-right: 2px solid var(--background-tertiary);
}
.sidebar-header {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-secondary);
    margin-bottom: 5px;
}
.tab {
    padding: 8px 10px;
    border-radius: var(--border-radius-primary);
    text-align: unset;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .15s background-color;
    
    &:hover {
        background-color: var(--background-tertiary);
    }
    &.active {
        background-color: var(--background-tertiary);
    }
    &:active {
        background-color: var(--background-quaternary);
    }
    &.loading {
        background-color: var(--background-secondary);
    }
}
.tab-main {
    display: flex;
    align-items: center;
    gap: var(--spacing-primary);
}
.tab-avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: relative;
    background-color: var(--background-tertiary);
}
.unread-count {
    --dimensions: 22px;
    background-color: var(--color-primary);
    width: var(--dimensions);
    height: var(--dimensions);
    line-height: var(--dimensions);
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light-primary);
    border-radius: 50%;
    font-weight: 700;
}
.loading-text {
    height: 17px;
    width: 100px;
    background-color: var(--background-tertiary);
    border-radius: 5px;
}