.container {
    --size: 30px;
    --border: 4px;
    border: var(--border) solid var(--background-tertiary);
    border-top: var(--border) solid var(--color-primary);
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}