.container {
    position: fixed;
    z-index: 141414114;
    background-color: var(--tooltip-background-primary);
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    pointer-events: none;
}