.content {
    padding: 0 var(--spacing-primary);
    display: grid;
    gap: 10px;
}
.label {
    font-weight: 600;
    padding-top: var(--spacing-primary);
    border-top: 1px solid var(--background-secondary);
    display: block;
}
.attachment-container {
    --row-amount: 3;
    --spacing: 6px;
    display: flex;
    margin-top: var(--spacing-primary);
    gap: var(--spacing);
    flex-wrap: wrap;

    &>.attachment {
        position: relative;
        width: calc(100% / var(--row-amount) - var(--spacing) * var(--row-amount));
        aspect-ratio: 1.5 / 1;
        max-height: 200px;
        border-radius: var(--border-radius-primary);
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;

        img {
            object-fit: contain;
            position: absolute;
        }

        &:hover {
            .remove-attachment button {
                opacity: 1;
            }
        }
    }
    .remove-attachment {
        position: absolute;
        right: var(--spacing);
        top: var(--spacing);
        z-index: 12;

        button {
            background-color: var(--background-secondary);
            border-radius: var(--border-radius-secondary);
            align-items: center;
            justify-content: center;
            padding: 5px;
            width: 25px;
            height: 25px;
            display: flex;
            cursor: pointer;
            opacity: 0;
            transition: opacity .2s;

            svg {
                display: block;
                width: 12px;
                height: 12px;
                fill: var(--text-primary);
                transform: rotate(45deg);
            }
        }
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
        border: 2px solid var(--background-secondary);
        border-radius: 6px;
        transition: background-color .15s;
        width: 32px;
        height: 32px;
        padding: 6px;

        svg {
            fill: var(--text-secondary);
            display: block;
        }

        &:hover {
            background-color: var(--background-secondary);
        }
    }
    input[type="file"] {
        display: none;
    }
}
.options {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-primary) / 2);
}
.character-length {
    font-size: 14px;
    text-align: right;
    color: var(--text-secondary);
    font-weight: 700;

    &.error {
        color: var(--color-red);
    }
}
.preview {
    padding: var(--spacing-primary);
    margin: var(--spacing-primary);
    background-color: var(--background-secondary);
    border: 2px solid var(--background-tertiary);
    border-radius: var(--border-radius-primary);
    margin-top: 0;

    h3 {
        margin: 0;
    }
    p {
        margin-bottom: 0;
        margin-top: 10px;
    }
}
.preview-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}
.preview-avatar {
    border-radius: 50%;
    overflow: hidden;
    min-width: 26px;
    width: 26px;
    height: 26px;
}