.container {
    border-radius: var(--border-radius-primary);
    background-color: var(--input-background);
    border: 1px solid var(--input-border-color);
    font-family: inherit;
    resize: vertical;
    padding: 12px;
    font-size: 14px;
    outline: none;
    width: 100%;
    color: var(--input-text);
}
.label {
    margin-bottom: 10px;
    color: var(--text-secondary);
    display: block;
    font-weight: 600;
}