.container {
    padding: var(--spacing-primary);
    background-color: var(--background-secondary);
    border: 2px solid var(--background-tertiary);
    border-radius: var(--border-radius-primary);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-primary);
    position: relative;

    a:not(.post-link), button {
        z-index: 2;
        position: relative;
    }
}
.post-link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.author-avatar {
    height: 25px;
    width: 25px;
    min-width: 25px;
    background-color: var(--background-tertiary);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.author-name {
    font-weight: 600;
    color: var(--text-secondary);
}
.timestamp {
    font-size: 13px;
    color: var(--text-secondary);
    margin-top: 4px;
    font-weight: 600;
    opacity: .8;
}
.content {
    color: var(--text-secondary);
}
.footer {
    padding-top: var(--spacing-primary);
    border-top: 2px solid var(--background-tertiary);
    display: flex;
    gap: 25px;
}
.footer-button {
    gap: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--text-secondary);
    font-size: 15px;
    font-weight: 600;
    padding: 8px;
    border-radius: var(--border-radius-primary);
    margin: -8px;
    transition: background-color .2s;

    &:hover {
        background-color: var(--background-tertiary);
    }

    svg {
        width: 20px;
        fill: var(--text-secondary);
    }
}

// Styles for placeholder skeletons
.skeleton {
    @extend .container;
    height: 139px;
    max-width: 100%;
}
.skeleton-flex {
    display: flex;
    gap: 15px;
}
.skeleton-text {
    height: 22px;
    background-color: var(--background-tertiary);
    border-radius: 6px;
}
.skeleton-name {
    @extend .skeleton-text;
    width: 120px;
}
.skeleton-timestamp {
    @extend .skeleton-text;
    width: 70px;
}
.skeleton-content {
    @extend .skeleton-text;
    width: 500px;
}
.skeleton-footer {
    @extend .skeleton-footer;
    @extend .skeleton-flex;
    align-items: flex-end;
    flex-grow: 1
}
.skeleton-footer-button {
    @extend .skeleton-text;
    width: 90px;
    height: 23px;
}

@media (max-width: 600px) {
    .skeleton-content {
        width: 100%;
    }
}