.container {
    padding: var(--spacing-primary);
    border: 2px solid var(--background-secondary);
    border-radius: var(--border-radius-primary);
    position: relative;

    a:not(.post-link), button {
        z-index: 2;
        position: relative;
    }
}
.post-link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-main {
    display: flex;
    align-items: center;
    gap: 10px;
}
.author-avatar {
    height: 25px;
    width: 25px;
    min-width: 25px;
    background-color: var(--background-tertiary);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.author-name {
    font-weight: 600;
    color: var(--text-secondary);
}
.timestamp {
    font-size: 13px;
    color: var(--text-secondary);
    margin-top: 3px;
    font-weight: 600;
    opacity: .8;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 5px;
}
.options {
    svg {
        width: 30px;
        padding: 6px;
        fill: var(--text-secondary);
        cursor: pointer;
        border-radius: 6px;
        display: block;

        &:hover {
            background-color: var(--background-secondary);
        }
        &:active {
            background-color: var(--background-tertiary);
        }
    }
}
.content {
    color: var(--text-secondary);
    margin-top: var(--spacing-primary);
    display: block;
    overflow-wrap: anywhere;
}
.attachments {
    --row-amount: 1;
    --attachment-spacing: 4px;
    --max-height: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--attachment-spacing);
    margin-top: var(--spacing-primary);
    position: relative;
    z-index: 2;
}
.attachment {
    flex-grow: 1;
    width: calc(100% / var(--row-amount) - var(--attachment-spacing));
    max-height: var(--max-height);
    aspect-ratio: 2 / 1;
    position: relative;
    border-radius: var(--border-radius-primary);
    overflow: hidden;
    cursor: pointer;

    img {
        transition: transform .2s;
    }
    &:hover {
        img {
            transform: scale(1.05);
        }
    }
    &.active {
        border: 4px solid var(--color-primary);
    }
}
.footer {
    padding-top: var(--spacing-primary);
    margin-top: var(--spacing-primary);
    border-top: 1px solid var(--background-secondary);
    display: flex;
    gap: 25px;
}
.footer-button {
    gap: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--text-secondary);
    font-size: 15px;
    font-weight: 600;
    padding: 8px;
    border-radius: var(--border-radius-primary);
    margin: -8px;
    transition: background-color .2s;

    &:hover {
        background-color: var(--background-secondary);
    }

    svg {
        width: 20px;
        fill: var(--text-secondary);
    }

    &.active {
        svg {
            fill: var(--color-primary);
        }
    }
}

// Styles for placeholder skeletons
.skeleton {
    @extend .container;
    max-width: 100%;
}
.skeleton-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
.skeleton-text {
    height: 22px;
    background-color: var(--background-tertiary);
    border-radius: 6px;
}
.skeleton-avatar {
    height: 25px;
    width: 25px;
    background-color: var(--background-tertiary);
    border-radius: 50%
}
.skeleton-name {
    @extend .skeleton-text;
    width: 120px;
}
.skeleton-timestamp {
    @extend .skeleton-text;
    width: 70px;
}
.skeleton-options {
    border-radius: 5px;
    background-color: var(--background-tertiary);
    width: 22px;
    height: 22px;
}
.skeleton-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: var(--spacing-primary) 0;

    div {
        @extend .skeleton-text;
        height: 21px;
        
        &:nth-of-type(1) {
            width: 55px;
        }
        &:nth-of-type(2) {
            width: 75px;
        }
        &:nth-of-type(3) {
            width: 95px;
        }
        &:nth-of-type(4) {
            width: 55px;
        }
        &:nth-of-type(5) {
            width: 65px;
        }
        &:nth-of-type(6) {
            width: 105px;
        }
        &:nth-of-type(7) {
            width: 75px;
        }
    }
}
.skeleton-footer {
    @extend .skeleton-footer;
    @extend .skeleton-flex;
    align-items: flex-end;
    flex-grow: 1;
    border-top: 1px solid var(--background-secondary);
    padding-top: var(--spacing-primary);
}
.skeleton-footer-button {
    @extend .skeleton-text;
    width: 90px;
    height: 23px;
}

@media (max-width: 600px) {
    .skeleton-content {
        width: 100%;
    }
}