.content {
    padding: var(--spacing-primary);
    padding-top: 0;
}
.inputs {
    display: grid;
    gap: var(--spacing-primary);
    padding: calc(var(--spacing-primary) * 2) 0;
}
.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.change-option {
    color: var(--text-secondary);
    transition: color .2s;

    &:hover {
        color: var(--text-primary);
    }
}