.tab-container {
    position: relative;
}
.tabs {
    display: flex;
    margin-bottom: var(--spacing-primary);
}
.tab {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 1px solid var(--text-secondary);
    color: var(--text-secondary);
    opacity: .7;
    transition: .2s opacity, .2s color;
    
    button {
        font-size: 16px;
        padding: 10px;
        width: 100%;
        font-weight: 600;
    }

    &.active-tab, &:hover {
        color: var(--text-primary);
        opacity: 1;
    }
}
.tab-stripe {
    background-color: var(--text-primary);
    position: absolute;
    bottom: -1px;
    width: 50%;
    height: 3px;
    transition: left .3s;
}