.container {
    width: 100%;
    min-height: 200px;
    aspect-ratio: 2.2 / 1;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-primary);
}
.text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: var(--spacing-primary);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    h2 {
        margin: 0;
        font-size: 45px;
        color: var(--text-light-primary);
    }
    span {
        font-size: 18px;
        max-width: 50%;
        margin-bottom: var(--spacing-primary);
        color: var(--text-light-secondary);
        font-weight: 600;
        display: block;
    }
    .button {
        padding: 8px 12px !important;
        font-size: 14px !important;
    }
}

@media (max-width: 850px) {
    .container {
        h2 {
            font-size: 35px;
        }
        span {
            max-width: unset;
            font-size: 16px;
        }
    }
}