.container {
    flex: 1;

    &>* {
        padding-left: var(--spacing-primary) !important;
    }
}

.change-password {
    display: grid;
}
.input:not(:last-of-type) {
    margin-bottom: 8px;
}
.bottom {
    margin-top: var(--spacing-primary);
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.error {
    color: var(--text-secondary);
    text-align: left;
    flex: 1;
    display: block;
}
.options {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: var(--spacing-primary);
}
.forgot-password {
    color: var(--text-secondary);
    transition: color .2s;

    &:hover {
        color: var(--text-primary);
    }
}

.delete-button {
    padding: 8px 12px;
    border: 1px solid var(--background-tertiary);
    background-color: var(--background-secondary);
    border-radius: var(--border-radius-primary);
    transition: background-color .2s, color .2s;
    color: #f85149;
    font-weight: 700;

    &:hover {
        background-color: #f85149;
        color: var(--text-light-primary);
    }
}

@media (max-width: 500px) {
    .container {
        &>* {
            padding-left: 0 !important;
        }
    }
}