:root {
  --color-primary: #008FA2;
  --color-secondary: #006F7E;
  --color-red: #cc0000;
  --color-green: #00ff0d;
  --color-blue: #0066ff;
  --text-light-primary: #fff;
  --text-light-secondary: #cccccc;
  --link-color: #0087bd;
  --width-main: 1100px;
  --width-max: 90%;
  --messages-collapse-width: 950px;
  --border-radius-primary: 8px;
  --border-radius-secondary: 4px;
  --spacing-primary: 15px;
  --navbar-height: 82px;
  --sidebar-mobile-height: 68px;
}

[theme="light"], [data-theme="light"], [data-theme="light-contrast"], [theme="light-contrast"] {
  --color-green: #009708;
  --background-primary: #fff;
  --background-secondary: #F5F5F5;
  --background-tertiary: #e9e5fb;
  --background-quaternary: #e0d9ff;
  --tooltip-background-primary: #e9e5fb;
  --menu-background: #e9e5fb;
  --menu-separator-background: #cabffc;
  --menu-item-background-hover: #d7ceff;
  --menu-item-background-active: #cabeff;
  --input-background: #e9e5fb;
  --input-border-color: #cec3ff;
  --input-text: #606770;
  --text-primary: #131313;
  --text-secondary: #606770;

  &::-webkit-scrollbar {
    background-color: rgba(0,0,0,.05);
  }
}
[theme="light-contrast"] ,[data-theme="light-contrast"] {
  --background-secondary: #e4e4e4;
  --background-tertiary: #d1c8fa;
  --background-quaternary: #bbb0f2;
  --menu-item-background-hover: #c9bdff;
  --menu-item-background-active: #b7a8fa;
  --tooltip-background-primary: #d1c8fa;
  --input-border-color: #b09eff;
  --text-secondary: #2f3236;
}
[theme="dark"], [data-theme="dark"] {
  --background-primary: #0e1015;
  --background-secondary: #18191f;
  --background-tertiary: #1e2027;
  --background-quaternary: #23262e;
  --tooltip-background-primary: #0a0a0a;
  --menu-background: #1e2027;
  --menu-separator-background: #23262e;
  --menu-item-background-hover: #18191f;
  --menu-item-background-active: #0e1015;
  --input-background: #1e2027;
  --input-text: #8b949e;
  --text-primary: #c9d1d9;
  --text-secondary: #8b949e;

  &::-webkit-scrollbar {
    background-color: rgba(0,0,0,.2);
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 120px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-quaternary);
  border-radius: 120px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

button {
  color: inherit;
  border: none;
  text-align: inherit;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}
ul {
  color: inherit;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-content {
  background-color: red;
}

@media (max-width: 700px) {
  :root {
    --navbar-height: 74px;
  }
}