.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-primary);
}
.header {
    padding: 0 var(--spacing-primary) var(--spacing-primary);
    border-bottom: 2px solid var(--background-tertiary);
    display: flex;
    align-items: center;

    a {
        cursor: pointer;
        margin-left: 5px;
    }
}
.back-button {
    margin-right: var(--spacing-primary);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--background-tertiary);
    }

    svg {
        fill: var(--text-secondary);
        width: 25px;
        padding: 5px;
        display: block;
        rotate: 180deg;
    }
}
.list-container {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.scroll-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;
    padding: var(--spacing-primary);
    width: 100%;
}
.list-label {
    margin-bottom: var(--spacing-primary);
}
.message {
    align-self: flex-start;
    position: relative;
    padding-left: 40px;
    max-width: 80%;
    
    .message-main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .message-content {
        padding: 6px 10px;
        background-color: var(--background-tertiary);
        color: var(--text-primary);
        border-radius: 6px;
    }
    .link {
        color: var(--link-color);
        text-decoration: underline;
    }
    &.my-message {
        align-self: flex-end;

        .message-main {
            align-items: flex-end;
        }
        .message-content {
            background-color: var(--color-primary);
            color: var(--text-light-primary);
        }
        .link {
            color: var(--text-light-primary);
        }
        .message-footer {
            text-align: right;
        }
    }
    &.failed {
        .message-content {
            background-color: red;
        }
    }
}
.avatar {
    position: absolute;
    left: 0;
}
.author {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: block;
}
.message-footer {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-secondary);
    display: block;
    margin-top: 3px;
    margin-bottom: var(--spacing-primary);
}
.input-container {
    position: relative;
    padding: 0 var(--spacing-primary);
}
.input {
    padding-right: 80px;
}
.input-button {
    padding: 8px 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(10px + var(--spacing-primary));
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2 {
        margin: 0;
        margin-bottom: 5px;
    }
}
.conversation-button {
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .header {
        padding-left: 0;
    }
}
@media (max-width: 700px) {
    .container {
        padding-bottom: 0;
    }
}