.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-primary);
}
.loading {
    height: 100%;
    display: grid;
    place-items: center;
}
.header {
    padding: 0 var(--spacing-primary) var(--spacing-primary);
    border-bottom: 2px solid var(--background-tertiary);
    display: flex;
    align-items: center;

    a {
        cursor: pointer;
        margin-left: 5px;
    }
}
.back-button {
    margin-right: var(--spacing-primary);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--background-tertiary);
    }

    svg {
        fill: var(--text-secondary);
        width: 25px;
        padding: 5px;
        display: block;
        rotate: 180deg;
    }
}
.label {
    display: block;
    margin-left: var(--spacing-primary);
}
.list-container {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.scroll-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;
    padding: var(--spacing-primary);
    width: 100%;
}
.list-label {
    padding: var(--spacing-primary);
    display: block;
}
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: var(--spacing-primary) 0;

    span {
        background-color: var(--background-primary);
        margin-top: -2px;
        padding: 0 6px;
        color: var(--text-secondary);
        font-size: 13px;
        font-weight: 600;
    }

    &::after {
        content: '';
        background-color: var(--background-tertiary);
        z-index: -1;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}
.message {
    align-self: flex-start;
    position: relative;
    padding-left: 40px;
    max-width: 80%;
    
    .message-main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .message-content {
        padding: 6px 10px;
        background-color: var(--background-tertiary);
        color: var(--text-primary);
        border-radius: 12px;
    }
    .link {
        color: var(--link-color);
        text-decoration: underline;
    }
    &.my-message {
        align-self: flex-end;

        .message-main {
            align-items: flex-end;
        }
        .message-content {
            background-color: var(--color-primary);
            color: var(--text-light-primary);
        }
        .link {
            color: var(--text-light-primary);
        }
        .message-footer {
            text-align: right;
        }
    }
    &.failed {
        .message-content {
            background-color: red;
        }
    }
    &.has-footer {
        &:not(.my-message) {
            .message-content {
                border-bottom-left-radius: 4px;
            }
        }

        &.my-message {
            .message-content {
                border-bottom-right-radius: 4px;
            }
        }
    }
}
.avatar {
    position: absolute;
    left: 0;
}
.author {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: block;
}
.message-footer {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-secondary);
    display: block;
    margin-top: 3px;
    margin-bottom: var(--spacing-primary);
}
.timestamp {
    cursor: default;
}
.input-container {
    position: relative;
    padding: 0 var(--spacing-primary);
}
.input {
    padding-right: 80px;
}
.input-button {
    padding: 8px 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(10px + var(--spacing-primary));
}

.empty {
    padding: 0 var(--spacing-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;

    h2 {
        margin: 0;
        margin-bottom: 5px;
    }
}
.conversation-button {
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .header {
        padding-left: 0;
    }
    .list {
        padding: var(--spacing-primary) 0;
        padding-bottom: 0;
    }
    .list-label {
        padding: var(--spacing-primary) 0;
    }
    .input-container {
        padding: 0;

        .input-button {
            right: 10px;
        }
    }
}