.backdrop {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1414141414;
}
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-primary);
    z-index: 141414141414;
    border-radius: var(--border-radius-primary);
    width: 600px;
    max-width: var(--width-max);
    overflow: hidden;
}
.content {
    display: flex;
    transition: transform .5s;

    &>div {
        min-width: 100%;
        transition: max-height .7s;
    }
    &>.active {
        max-height: 800px;
        overflow: auto;
    }
    &>:not(.active) {
        max-height: 0px;
    }
}
.header {
    margin: 0;
    padding: var(--spacing-primary);
}
.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--spacing-primary);
}
.loading {
    padding: 8px !important;
    min-width: 80px;
    justify-content: center;
}