.container {
    position: sticky;
    z-index: 14141413;
    background-color: var(--background-primary);
    top: 0;
}
.content {
    padding: 20px 0;
    width: var(--width-main);
    max-width: var(--width-max);
    height: var(--navbar-height);
    margin: 0 auto;
    border-bottom: 2px solid var(--background-tertiary);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
}
.site-name {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-secondary);
}
.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-primary);
}
.button {
    width: 32px;
    height: 32px;
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 250ms;

    &:hover {
        background-color: var(--background-tertiary);
    }

    svg {
        display: block;
        fill: var(--text-secondary);
    }
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.input-container {
    position: relative;
}
.input {
    padding: 9px !important;
}
.backdrop {
    display: none;
}
.loader {
    display: flex;
    justify-content: center;
}
.results {
    max-height: 350px;
    overflow: auto;
    background-color: var(--background-secondary);
    border: 2px solid var(--background-tertiary);
    border-radius: var(--border-radius-primary);
    position: absolute;
    width: 100%;
    top: calc(100% + var(--spacing-primary) / 2);
    padding: 8px;
}
.result {
    display: flex;
    align-items: center;
    gap: var(--spacing-primary);
    border-radius: var(--border-radius-secondary);
    transition: background-color .15s;
    cursor: pointer;
    padding: 8px 10px;

    &:hover {
        background-color: var(--background-tertiary);
    }
}
.result-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.result-name {
    font-weight: 600;
}
.result-username {
    display: inline-block;
    margin-left: 8px;
    color: var(--text-secondary);
    font-size: 14px;
}
.result-followers {
    color: var(--text-secondary);
    font-size: 14px;
}

@media (max-width: 700px) {
    .site-name {
        font-size: 20px;
    }
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
    .input-container {
        --height: 79px;
        position: fixed;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--height);
        padding: var(--spacing-primary);
        z-index: 14;
        top: calc(-1 * var(--height));
        transition: top .3s;
        display: block;

        .input {
            padding: var(--spacing-primary) !important;
        }

        &>div {
            pointer-events: all;
            position: relative;
            z-index: 1;
        }

        .backdrop {
            display: block;
            pointer-events: none !important;
            background-color: rgba(0,0,0,.4);
            transition: opacity .3s;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 0;
            opacity: 0;
        }

        &.active {
            top: 0;

            .backdrop {
                pointer-events: all !important;
                opacity: 1;
            }
        }
    }
    .results {
        top: var(--spacing-primary);
    }
}