.title {
    margin: 15px 0 20px;
    font-size: 26px;
}
.content {
    font-size: 20px;
    color: var(--text-secondary);
    display: block;
    margin-top: var(--spacing-primary);
<<<<<<< HEAD
    overflow-wrap: anywhere;
=======
    word-break: break-word;
}
.comments {
    padding-top: var(--spacing-primary);
    margin-top: var(--spacing-primary);
    border-top: 1px solid var(--background-tertiary);
}
.comments-header {
    color: var(--text-secondary);
    margin-bottom: var(--spacing-primary);
    display: block;
}
.add-comment {
    border-bottom: 1px solid var(--background-tertiary);
    margin-bottom: var(--spacing-primary);
    padding-bottom: var(--spacing-primary);
}
.add-comment-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: var(--spacing-primary);
}
.filters {
    margin-bottom: var(--spacing-primary) !important;
}
.comment-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-primary);
}
.comment {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-primary);
}
.comment-left {
    display: flex;
}
.comment-avatar {
    border-radius: 50%;
    width: 25px;
    min-width: 25px;
    height: 25px;
    overflow: hidden;
    margin-right: var(--spacing-primary);
}
.comment-author {
    transition: color .2s;
    
    &:hover {
        color: var(--text-primary);
    }
}
.comment-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-secondary);

    &>* {
        margin-top: 0;
    }
}
.comment-content {
    font-size: 14px;
    color: var(--text-secondary);
    display: block;
    margin-top: 8px;
}
.comment-footer {
    display: flex;
    margin-top: 6px;
}
.comment-footer-button {
    border-radius: 8px;
    border: 1px solid var(--background-secondary);
    padding: 6px;
    font-size: 11px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s, border-color .2s;

    &:hover {
        background-color: var(--background-secondary);
    }

    svg {
        width: 12px;
        fill: var(--text-secondary);
        margin-right: 5px;
        display: block;
    }

    &.active {
        border-color: var(--color-primary);
        background-color: var(--background-secondary);

        svg {
            fill: var(--color-primary);
        }
    }
}
.comment-options {
    button {
        padding: 6px;
        border-radius: 50%;
        transition: background-color .15s;

        &:hover {
            background-color: var(--background-secondary);
        }
    }
    svg {
        width: 20px;
        height: 20px;
        display: block;
        fill: var(--text-secondary);
    }
>>>>>>> d3375710668ed366678a1fcb2574970871784e23
}

.skeleton-text {
    background-color: var(--background-tertiary);
    border-radius: 5px;
    height: 20px;
}
.skeleton-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: var(--spacing-primary)
}
.skeleton-author, 
.skeleton-timestamp, 
.skeleton-footer-button {
    @extend .skeleton-text;
}
.skeleton-avatar {
    background-color: var(--background-tertiary);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.skeleton-author {
    width: 75px;
}
.skeleton-timestamp {
    width: 120px;
}
.skeleton-divider {
    background-color: var(--background-tertiary);
    margin-top: var(--spacing-primary);
    margin-bottom: 5px;
    height: 1px;
}
.skeleton-content, .skeleton-title {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--spacing-primary);
    gap: 5px;

    div {
        background-color: var(--background-tertiary);
        border-radius: 6px;
        height: 26px;
    }
}
.skeleton-title {
    margin-bottom: 20px;
    div {
        &:nth-of-type(1) {
            width: 90px;
        }
        &:nth-of-type(2) {
            width: 130px;
        }
        &:nth-of-type(3) {
            width: 110px;
        }
    }
}
.skeleton-content {
    div {
        &:nth-of-type(1) {
            width: 75px;
        }
        &:nth-of-type(2) {
            width: 55px;
        }
        &:nth-of-type(3) {
            width: 125px;
        }
        &:nth-of-type(4) {
            width: 105px;
        }
        &:nth-of-type(5) {
            width: 65px;
        }
        &:nth-of-type(6) {
            width: 95px;
        }
    }
}
.skeleton-footer {
    display: flex;
    gap: var(--spacing-primary);
    padding-top: var(--spacing-primary);
    margin-top: var(--spacing-primary);
    border-top: 1px solid var(--background-tertiary);
}
.skeleton-footer-button {
    width: 70px;
    height: 26px;
}