.container {
    h2 {
        margin-top: 0;
    }
    form {
        display: grid;
        gap: calc(var(--spacing-primary) / 2);
    }
}
.bottom {
    margin-top: calc(var(--spacing-primary) / 2);
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.error {
    flex: 1;
    display: block;
}
.button {
    justify-self: flex-end;
}