.container {
    padding-right: var(--spacing-primary);
    border-right: 2px solid var(--background-tertiary);
    width: 200px;
}
.tabs {
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-primary) 0;
}
.tab {
    gap: var(--spacing-primary);
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    font-weight: 600;
    padding: 10px;
    border-radius: var(--border-radius-primary);
    transition: background-color .1s;
    position: relative;

    &:hover {
        background-color: var(--background-secondary);
    }

    svg {
        width: 26px;
        fill: var(--text-secondary);
        display: block;
    }

    &.active {
        color: var(--text-primary);

        svg {
            fill: var(--text-primary);
        }
    }
}
.notification-count {
    position: absolute;
    background-color: var(--color-primary);
    color: var(--text-light-primary);
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: 30px;
    top: 5px;
}

@media (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0;
        border-right: none;
        position: fixed;
        z-index: 141414141;
        bottom: 0;
        left: 0;
    }
    .tabs {
        flex-direction: row;
        justify-content: space-between;
        padding: var(--spacing-primary);
        background-color: var(--background-primary);
        border-top: 2px solid var(--background-tertiary);
    }
    .tab {
        padding: 5px;

        svg {
            width: 25px;
        }
    }
    .tab-text {
        display: none;
    }
}