.container {
    padding-right: var(--spacing-primary);
    border-right: 2px solid var(--background-tertiary);
    width: 200px;
}
.tabs {
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-primary) 0;
}
.tab {
    gap: var(--spacing-primary);
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    font-weight: 600;
    padding: 10px;
    margin-left: -10px;
    border-radius: var(--border-radius-primary);
    transition: background-color .1s;

    &:hover {
        background-color: var(--background-secondary);
    }

    svg {
        width: 32px;
        fill: var(--text-secondary);
    }

    &.active {
        color: var(--text-primary);

        svg {
            fill: var(--text-primary);
        }
    }
}

@media (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0;
        border-right: none;
    }
    .tabs {
        flex-direction: row;
        justify-content: space-between;

        a {
            padding-right: 15px;
        }
    }
}
@media (max-width: 600px) {
    .tabs {
        padding: 10px 0;

        a {
            padding: 15px;
        }
    }
    .tab-text {
        display: none;
    }
}