.header {
    background-color: var(--background-secondary);

    h2 {
        margin: 0;
    }
}
.header-content {
    display: flex;
    padding: var(--spacing-primary);
}
.header-banner {
    height: 260px;
    overflow: hidden;
    background-color: var(--background-tertiary);
    border-top-left-radius: var(--border-radius-primary);
    border-top-right-radius: var(--border-radius-primary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-avatar {
    --dimensions: 150px;
    width: var(--dimensions);
    min-width: var(--dimensions);
    height: var(--dimensions);
    margin-top: calc(-1 * var(--dimensions) / 2);
    margin-right: var(--spacing-primary);
    background-color: var(--background-tertiary);
    border-radius: 50%;
    border: 6px solid var(--background-secondary);
    overflow: hidden;
}
.header-content {
    display: flex;
    justify-content: space-between;
}
.header-main {
    display: flex;
    flex: 1;
}
.header-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.user-stats {
    margin-top: 5px;
    font-size: 15px;
}
.tabs {
    display: flex;
    background-color: var(--background-secondary);
    border-top: 1px solid var(--background-tertiary);
    border-bottom: 1px solid var(--background-tertiary);
    margin-bottom: var(--spacing-primary);

    li {
        flex: 1;
        text-align: center;
        font-weight: 600;
        color: var(--text-secondary);
        position: relative;
        transition: background-color .3s, color .3s;
        
        a {
            width: 100%;
            height: 100%;
            display: block;
        }

        span {
            position: relative;
            height: 100%;
            padding: var(--spacing-primary) 5px;
            display: inline-block;
        }

        &:hover {
            background-color: var(--background-quaternary);
        }
        
        &.active-tab {
            color: var(--text-primary);

            span::after {
                content: '';
                background-color: var(--color-primary);
                height: 3px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 120px;
            }
        }
    }
}
.post-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-primary);
}
.empty {
    color: var(--text-secondary);
    display: block;
    text-align: center;
}

.skeleton-text {
    border-radius: 6px;
    background-color: var(--background-tertiary);
}
.header-name-skeleton {
    @extend .skeleton-text;
    height: 32px;
    width: 120px;
}
.header-subtext-skeleton {
    @extend .skeleton-text;
    height: 21px;
    width: 90px;
}
.header-button-skeleton {
    @extend .skeleton-text;
    height: 41px;
    width: 90px;
}

@media (max-width: 900px) {
    .header-content, .header-main {
        flex-direction: column;
    }
    .header-buttons {
        margin-top: var(--spacing-primary);
    }
    .header-button {
        width: 100%;
        justify-content: center;
    }
    .header-banner {
        height: 160px;
    }
    .header-avatar {
        min-width: 120px;
        width: 120px;
        height: 120px;
    }
}